DATABASE_URI=postgresql://neondb_owner:npg_w87xtPnQOYKr@ep-shiny-night-adrlwhzc-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
PAYLOAD_SECRET=32e23aba53e99d685b6eb256
NODE_ENV=production

# Live Preview Configuration
NEXT_PUBLIC_PAYLOAD_URL=https://payload-cms-pearl.vercel.app
NEXT_PUBLIC_SITE_URL=https://payload-cms-pearl.vercel.app