DATABASE_URI=postgresql://neondb_owner:npg_w87xtPnQOYKr@ep-shiny-night-adrlwhzc-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
PAYLOAD_SECRET=32e23aba53e99d685b6eb256
NODE_ENV=development
BLOB_READ_WRITE_TOKEN="vercel_blob_rw_UO6hyLs3w0qMKoEM_Fo0ilJ2ngvut6hZXJaIyTcuK3ccVXy"


# Live Preview Configuration
NEXT_PUBLIC_PAYLOAD_URL=http://localhost:3000
NEXT_PUBLIC_SITE_URL=http://localhost:3000